.users-list {
  list-style: none;
  padding: 0;
}

.users-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-list-item);
  padding: 0 1rem;
}

.users-list > li + li {
  margin-top: 1rem;
}

.users-list li:hover {
  background-color: var(--bg-list-item-hover);
}

svg:hover {
  fill: var(--clr-close-button-hover);
}
